<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>692769437442-gbpvbkqbg1uijgkg9vnd6sb2o31cg3gq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692769437442-gbpvbkqbg1uijgkg9vnd6sb2o31cg3gq</string>
	<key>API_KEY</key>
	<string>AIzaSyCUda368z7dRdyXURKH0G76JA5ogywZe40</string>
	<key>GCM_SENDER_ID</key>
	<string>692769437442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myiosappid.WatStreet</string>
	<key>PROJECT_ID</key>
	<string>watstreet-2a060</string>
	<key>STORAGE_BUCKET</key>
	<string>watstreet-2a060.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692769437442:ios:ee210a0460ea1261</string>
	<key>DATABASE_URL</key>
	<string>https://watstreet-2a060.firebaseio.com</string>
</dict>
</plist>